#greetingsIMG{
    background: radial-gradient(circle, rgba(30, 170, 207, 1) 0%, rgba(240, 143, 178, 1) 45%, rgba(250, 250, 250, 1) 65%);
    background-size: 550px 550px; /* Set the gradient size */
    background-position: center 10%; /* Position it at the top and center */
    background-repeat: no-repeat; 
}

@media (max-width: 1150px) {
    #greetingsIMG{
        background-size: 550px 550px; /* Set the gradient size */
        background-position: center -100%; 
    }
}

@media (max-width: 550px) {
    #greetingsIMG{
        background-size: 100% 100%; /* Set the gradient size */
        background-position: center; 
    }
}